body {
    background-color: #FFF3F5;
    font-family: "Aladin", system-ui;
    margin: 0;
    height: 100vh;

}

* , *:before, *:after{ 
    box-sizing:border-box; 
  }

#frame {
    display: flex;
    flex-direction: column;
    height: 100%;
}


button {
    padding: 0.5em;
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label {
 margin: 6px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFC0Cb;
    border-radius: 10px;
    margin: 20px;
}

#greeter {
    margin: 1rem 4rem;
    color: black;
    font-size: 3rem ;
    font-family: "Aladin", system-ui;
    font-weight: 400;
    font-style: normal;
}

#content {
    flex-grow: 2;
    width: 100vw;
    height: 100%;
}

#error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#monkey {
    font-size: 6rem;
}

#error-text{
    width: 30ch;
    text-align: center;
    font-size: 1.6em;
}

#fridge-explorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 100px;
    
}

#fridge {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;

}

.fridge-header {
    padding: 10px;
    font-size: 1.5em;
    justify-self: center;
    align-self: center;
}

.fridge-drawer {
    border: 2px solid black;
    border-radius: 10px;
    margin: 7px;
    display: flex;
    background-color: rgba(0,0,0,0.05);
    
}

.fridge-box {
    border: 2px solid black;
    border-radius: 10px;
    flex-grow: 1;
    padding: 7px;
    margin:7px;
    background-color: #FAFAFA;
}